/vendor
/node_modules
.env
.env.backup
/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
.DS_Store
**/.DS_Store
composer.phar
*_ASSIGNMENT-2.zip
!database/database.sqlite
app/Models/User.php.bak
